*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
#header{
    height: 100vh;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
}
.container{
    margin-right: 100px;
    margin-left: 100px;
}
.logo{
    margin-top: 30px;
    width: 100px;
}
.header-text{
    max-width: 350px;
    margin-top: 140px;
}
/*Typing Style in H1 Header section*/
.header-text 
h1{
    font-size: 34px;
    font-size: 2vw;
    font-family: josefinsans-bold;
    color: #f67c92;
    border-right: 4px solid #f67c92;
 
    overflow: hidden;
    white-space: nowrap;
    animation: typing 6s steps(20) forwards,blink-caret .8s step-end infinite;
    animation-iteration-count: infinite;
}
@keyframes blink-cart{
    from,to {border-color: transparent;}
    50% {background-color: #f67c92;}
}
@keyframes typing{
    0%  {width :0%;}
    30% {width :100%;}
    80% {width :100%;}
    90% {width :0%;}
    100%{width :0%;}
}
/* Typing Section End*/
.square{
    height: 12px;
    width: 12px;
    display: inline-block;
    background-color: #f67c92;
    margin: 15px 0;
}
/* For Header Button(Know More)*/
.common-btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}
.header-text button{
    margin-top: 20px;
    margin-bottom: 60px;
}
/* End Button(Know More)*/
p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}
.line-1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}
.line-2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line-3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}
.line{
    line-height: 8px;
}
/*nAVIGATION cSS*/
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    transition: 0.7s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
#menuBtn{
    width: 50px;
    position: fixed;
    right: 65px;
    top: 35px;
    z-index: 2;
    cursor: pointer;
}/*menu button in NAVIGATION*/

/*ABOUT SECTION*/
#about{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.about-left-col{
    flex-basis: 50%;
}
.about-left-col img{
    width: 100%;
}
.about-right-col{
    flex-basis: 50%;
}


